*{
    box-sizing: border-box;
}

body {
    background-color: lemonchiffon;

}
.rose-leger {
    background-color: lightpink;
}

.jaune-leger {
    background-color: lightyellow;
}
.saumon {
    background-color: lightsalmon;
}
main {
    width:1000px;
    margin: 0 auto;

    /* background-color: linen; */
}

.row {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    row-gap: 5px;
    margin-bottom: 5px;


}
/* la grille sur 12 colonnes, et la définition de la largeur des colonnes */
.col-1 {
    /* cette valeur est la largeur en % d'une colonne si je veux la largeur de 2 colonnes je fais la largeur d'une colonne X 2 */
    width: 8.333333%;
    padding: 5px;
}


.col-2 {
    width: 16.666666%;
    padding: 5px;
}

.col-3 {
    width: 25%;
    padding: 5px;
}

.col-4 {
    width: 33.333333%;
    padding: 5px;
}

.col-5 {
    width: 41.666666%;
    padding: 5px;
}

.col-6 {
    width: 50%;
    padding: 5px;
}

.col-7 {
    width: 58.333333%;
    padding: 5px;
}

.col-8 {
    width: 66.666666%;
    padding: 5px;
}

.col-9 {
    width: 75%;
    padding: 5px;
}

.col-10{
    width:83.333333%;
    padding: 5px;
}
.col-11{
    width:91.666666%;
    padding: 5px;
}
.col-12 {
    width: 100%;
    padding: 5px;    
}
/* les marges à gauche pour créer si on le veut des colonnes vides */
.marge-1 {
    margin-left: 8.333333%;
}
.marge-2 {
    margin-left: 16.66666%;
}
.marge-3 {
    margin-left: 25%;
}
.marge-4 {
    margin-left: 33.333333%;
}
.marge-5 {
    margin-left: 41.666666%;
}
.marge-6 {
    margin-left: 50%;
}
.marge-7 {
    margin-left: 58.333333%;
}
.marge-8 {
    margin-left: 66.666666%;
}
.marge-9 {
    margin-left: 75%;
}
.marge-10 {
    margin-left: 83.333333%;
}
.marge-11 {
    margin-left: 91.666666%;
}

.img-fluide {
    width: 100%;
}

/* les règles de médias queries pour le responsive et les différents écrans  */

/* pour les téléphones/smartphones */
@media (max-width: 320px){

    .column-xs {
        display: flex;
        flex-direction: column;
    }

    .col-xs-12 {
        width: 100%;
    }
    .marge-xs {
        margin: 0;
    }

    body {
        background-color: #fff;
    }
    main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
     }
}
/* fin pour les téléphones */

/* pour les petites tablettes et smartphones grands écrans */
@media (min-width:321px) and (max-width:767px){
    body {
        background-color: pink;
    }
    main {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
     }
     .column-reverse {
         display: flex;
         flex-direction: column-reverse;
     }
}

/* pour les tablettes et certains ordinateurs portables  */
@media (min-width:768px) and (max-width:1096px){
    body {
        background-color: palevioletred;

    }
    main {
        background-color: #fff;
    }
}

/* pour les ordinateurs de bureau, les écrans plus grands que 1097px */
@media (min-width:1097px){
    body {
        background-color:thistle;
    }
}